<!-- chat/templates/chat/room.html -->
{% extends "chat/layout.html" %} {% block content %}

<link rel="Shortcut icon" href="https://assets.chucknorris.host/img/avatar/chuck-norris.png">
<div style="text-align:center;">
<body>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#conversacion1" role="tab" aria-controls="home" aria-selected="true">1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion2" role="tab" aria-controls="profile" aria-selected="false">2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion3" role="tab" aria-controls="profile" aria-selected="false">3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion4" role="tab" aria-controls="profile" aria-selected="false">4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion5" role="tab" aria-controls="profile" aria-selected="false">5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion6" role="tab" aria-controls="profile" aria-selected="false">6</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion7" role="tab" aria-controls="profile" aria-selected="false">7</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion8" role="tab" aria-controls="profile" aria-selected="false">8</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion9" role="tab" aria-controls="profile" aria-selected="false">9</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion10" role="tab" aria-controls="profile" aria-selected="false">10</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion11" role="tab" aria-controls="profile" aria-selected="false">11</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion12" role="tab" aria-controls="profile" aria-selected="false">12</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion13" role="tab" aria-controls="profile" aria-selected="false">13</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion14" role="tab" aria-controls="profile" aria-selected="false">14</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion15" role="tab" aria-controls="profile" aria-selected="false">15</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion16" role="tab" aria-controls="profile" aria-selected="false">16</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion17" role="tab" aria-controls="profile" aria-selected="false">17</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion18" role="tab" aria-controls="profile" aria-selected="false">18</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion19" role="tab" aria-controls="profile" aria-selected="false">19</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#conversacion20" role="tab" aria-controls="profile" aria-selected="false">20</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active block" id="conversacion1" role="tabpanel" aria-labelledby="home-tab"></div>
      <div class="tab-pane fade block" id="conversacion2" role="tabpanel" aria-labelledby="profile-tab"></div>
      <div class="tab-pane fade block" id="conversacion3" role="tabpanel" aria-labelledby="profile-tab"></div>
      <div class="tab-pane fade block" id="conversacion4" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade block" id="conversacion5" role="tabpanel" aria-labelledby="profile-tab"></div>
      <div class="tab-pane fade block" id="conversacion6" role="tabpanel" aria-labelledby="profile-tab"></div>
      <div class="tab-pane fade block" id="conversacion7" role="tabpanel" aria-labelledby="profile-tab"></div>
      <div class="tab-pane fade block" id="conversacion8" role="tabpanel" aria-labelledby="profile-tab"></div>
      <div class="tab-pane fade block" id="conversacion9" role="tabpanel" aria-labelledby="profile-tab"></div>
      <div class="tab-pane fade block" id="conversacion10" role="tabpanel" aria-labelledby="profile-tab"></div>
      <div class="tab-pane fade block" id="conversacion11" role="tabpanel" aria-labelledby="profile-tab"></div>
      <div class="tab-pane fade block" id="conversacion12" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade block" id="conversacion13" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade block" id="conversacion14" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade block" id="conversacion15" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade block" id="conversacion16" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade block" id="conversacion17" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade block" id="conversacion18" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade block" id="conversacion19" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade block" id="conversacion20" role="tabpanel" aria-labelledby="profile-tab"></div>
    </div>

    <!---
    <div class="block" id="conversacion1"></div>
    <div class="block" id="conversacion2" style = "display:none;"></div>
    <div class="block" id="conversacion3" style = "display:none;"></div>
    -->
    <div class="row" style = "display:inline-block;">
        <span><input id="chat-message-input" type="text" size="90"/></span>
        <span> <input id="chat-message-submit" type="button" class="btn-success" size="10" value="Send"/></span>
    </div>

    <div class="miClaase">
        Deberias escribir <strong>"Chuck"</strong>
    </div>


</body>
</div>

<script>
    var roomName = {{ room_name_json }};
    var personName = {{ person_name_json }};
    var contador = 0;

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var nameAuthor = data['name'];
        var time_send = data['time'];


        var codigo = '<div class="rounded-right" id="'+ "mensaje-" + contador + '" style="background-color: #98c1d9; width: 70%; margin: auto;">'				+
				'<div class="nombre" style="background-color: #ee6c4d;">'				+
					'<h4>'+ nameAuthor + '</h4>'	+
				'</div>'							+
				'<div class="contenido">'			+
					'<h2>'+ message +'</h2>'	+
				'</div>'							+
				'<div class="time">'			+
					'<p>'+ time_send +'</p>'	+
				'</div>'							+
			'</div>';
	    $('#conversacion1').append(codigo);
	    contador++;
	    if (contador > 5){
	        var element = contador - 6;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion2').append(copia);
	    };
	    if (contador > 10){
	        element = contador - 11;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion3').append(copia);
	    };
	    if (contador > 15){
	        element = contador - 16;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion4').append(copia);
	    };
	    if (contador > 20){
            element = contador - 21;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion5').append(copia);
	    };
	    if (contador > 25){
            element = contador - 26;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion6').append(copia);
	    };
	    if (contador > 30){
            element = contador - 31;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion7').append(copia);
	    };
	    if (contador > 35){
	        element = contador - 36;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion8').append(copia);
	    };
	    if (contador > 40){
	        element = contador - 41;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion9').append(copia);
	    };
	    if (contador > 45){
	        element = contador - 46;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion10').append(copia);
	    };
	    if (contador > 50){
	        element = contador - 51;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion11').append(copia);
	    };
	    if (contador > 55){
	        element = contador - 56;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion12').append(copia);
	    };
	    if (contador > 60){
	        element = contador - 61;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion13').append(copia);
	    };
	    if (contador > 65){
	        element = contador - 66;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion14').append(copia);
	    };
	    if (contador > 70){
	        element = contador - 71;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion15').append(copia);
	    };
	    if (contador > 75){
	        element = contador - 76;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion16').append(copia);
	    };
	    if (contador > 80){
	        element = contador - 81;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion17').append(copia);
	    };
	    if (contador > 85){
	        element = contador - 86;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion18').append(copia);
	    };
	    if (contador > 90){
	        element = contador - 91;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion19').append(copia);
	    };
	    if (contador > 95){
	        element = contador - 96;
	        var copia = $('#mensaje-' + element.toString()).clone();
	        $('#mensaje-' + element.toString()).remove();
	        $('#conversacion20').append(copia);
	    };
	    if (contador > 100){
	        element = contador - 101;
	        $('#mensaje-' + element.toString()).remove();
	    };


	    //$('#conversacion').html('<h1>Hola</h1>');
	    //#document.getElementById('conversacion').innerHTML = '<ol><li>html data</li></ol>';
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            "name": personName,
            "message": message,
        }));

        messageInputDom.value = '';
    };

    var request = new XMLHttpRequest();

    request.open('GET', 'https://api.chucknorris.io/jokes/random', true);
    request.onload = function() {
      // Begin accessing JSON data here
      var data = JSON.parse(this.response);

      if (request.status >= 200 && request.status < 400) {
        console.log(data);
      } else {
        console.log('error');
      };
    };
</script>
{% endblock content %}
